html, body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

body {
    background-color: #F6F7F9;
    margin: 0;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.grid{
  display: flex;
  justify-content: space-between;
  .row{
    flex: 1;
  }
}


.content{
  //max-width: $breakpoint-lg;
  margin: 0 auto;
}

main{
  padding: 1em 4em;
}

.font-weight-bold{
  font-weight: bold;
}

.white-background{
  background-color: white;
  padding: 1em 2em;
  border-radius: 10px;
}

.accent-color{
  color: #90A3BF;
}